@charset "utf-8";
@media all and (max-width:1899px) and (min-width:1221px) {
    #pc_display {
        display: none;
    }
    #mobile_display {
        display: none;
    }
    #tab_display {
        display: none;
    }
    #nt_display {
        display: block;
        width: 100%;
        height: 100%;
    }
    #nt_min_foot {
        height: 30px;
        background-color: rgba(51, 51, 51, 0.7);
    }
    #fo_sen {
        font-size: 10px;
        line-height: 30px;
        color: #eaeaea;
        float: left;
    }
    #min_hig {
        font-size: 16px;
        color: #fcc154;
    }
    .note_wrap {
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        position: relative;
    }
    /*상단 풋터의 타 페이지 이동*/
    #sub_pa {
        width: auto;
        height: 100%;
        float: right;
    }
    #sub_pa > li {
        float: left;
        margin-right: 10px;
        cursor: pointer;
    }
    #sub_pa > li:nth-child(1) {
        width: 65px;
        height: 30px;
        background: url(https://kimjoochan.github.io/academy2musicNtImg/notebookImg/nt_img/you_lo.png) no-repeat center center;
        background-size: cover;
    }
    #sub_pa > li:nth-child(2) {
        width: 30px;
        height: 30px;
        background: url(https://kimjoochan.github.io/academy2musicNtImg/notebookImg/nt_img/n_f_lo.png) no-repeat center center;
        background-size: cover;
    }
    #sub_pa > li:nth-child(3) {
        width: 30px;
        height: 30px;
        background: url(https://kimjoochan.github.io/academy2musicNtImg/notebookImg/nt_img/nt_b_lo.png) no-repeat center center;
        background-size: cover;
    }
    #sub_pa > li:nth-child(4) {
        width: 30px;
        height: 30px;
        background: url(https://kimjoochan.github.io/academy2musicNtImg/notebookImg/nt_img/face_lo.png) no-repeat center center;
        background-size: cover;
        margin-right: 0;
    }
    /*노트의 헤더*/
    #nt_header {
        height: 80px;
        background-color: #ffffff;
        position: fixed;
        left: 50%;
        margin-left: -600px;
        z-index: 99;
        background-color: transparent;
    }
    /*노트의 네비게이션*/
    #nt_navi {
        width: 100%;
        height: 100%;
        position: relative;
    }
    #nt_logo {
        width: 160px;
        height: auto;
        float: left;
        cursor: pointer;
    }
    #nt_logo>img{
        width: 100%;
        height: auto;
        float: left;
    }
    #nt_nav {
        width: 1040px;
        height: 40px;
        margin-top: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        float: left;
    }
    /*네비에 올리면 라인이 생기는것*/
    .nt_line {
        width: 50%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 50%;
        background-color: orange;
    }
    #nt_nav > li {
        width: 148.5px;
        height: 40px;
        text-align: center;
        font-size: 20px;
        line-height: 15px;
        float: left;
        position: relative;
    }
    #nt_nav > li > a {
        color: #eaeaea;
    }
    #nt_nav > li.nt_on > a {
        color: #fcc154;
    }
    /*네비에서 띄어쓰기 없는 글짜의 가운데 정렬*/
    #nt_nav > li.mar_to {
        line-height: 40px;
    }
    #nt_nav a {
        display: block;
        height: 100%;
        width: 100%;
    }
    /*서브메뉴*/
    .nt_sub_nav {
        position: absolute;
        top: 40px;
        left: 0;
        width: 148.5px;
        overflow: hidden;
        background-color: rgba(51, 51, 51, 0.5);
    }
    .nt_sub_nav > li {
        line-height: 30px;
    }
    .nt_sub_nav > li > a {
        color: #eee;
    }
    /*하이라이트*/
    .nt_sub_nav > .nt_on > a {
        color: #fcc154;
        transition-duration: 1s;
    }
    .nt_on > a {
        color: #fcc154;
        transition-duration: 1s;
    }
    /*노트의 배너영역*/
    #nt_banner {
        width: 100%;
        height: 100%;
        float: left;
    }
    #nt_ban_mask {
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
    }
    #nt_ban_mask > .note_wrap {
        position: absolute;
        left: 50%;
        margin-left: -600px;
    }
    #nt_ban_wrap {
        float: left;
        width: 400%;
        height: auto;
    }
    #nt_ban_wrap > li {
        float: left;
        width: 25%;
        height: auto;
    }
    /*#nt_ban_wrap>li:nth-child(1) {
        left: 0;
    }
    #nt_ban_wrap>li:nth-child(2) {
        left: 25%;
    }
    #nt_ban_wrap>li:nth-child(3) {
        left: 50%;
    }
    #nt_ban_wrap>li:nth-child(4) {
        left:75%;
    }*/
    #nt_ban_wrap > li > img {
        width: 100%;
        height: auto;
        float: left;
    }
    /*무한화살표갤러리*/
    .nt_but {
        position: absolute;
        top: 50%;
        width: 60px;
        height: 60px;
        z-index: 55;
        cursor: pointer;
    }
    .nt_left {
        left: 50px;
    }
    .nt_right {
        right: 50px;
    }
    /*노트의 서브 타이틀*/
    .nt_sub_title {
        margin-top: 90px;
        text-align: center;
        width: 100%;
        line-height: 50px;
        font-size: 20px;

    }
    /*노트의 어바웃미*/
    #nt_about_me {
        width: 100%;
        height: 100%;
        background-color: #dfdfdf;
        float: left;
    }
    #nt_sen {
        float: left;
        width: 400px;
        height: 140px;
        margin-left: 150px;
    }
    #nt_sen > li {
        line-height: 20px;
        font-size: 16px;
    }
    #nt_ac_pic {
        float: right;
        width: 300px;
        height: 380px;
        margin-right: 150px;
        margin-bottom: 40px;
        background: url(https://kimjoochan.github.io/academy2musicPcImg/pcImg/pc_img/teach.jpg) no-repeat center center;
        background-size: contain;
    }
    /*노트의 어바웃의 더보기 버튼*/
    #nt_more_but {
        float: left;
        width: 60px;
        height: 30px;
        border-radius: 30px;
        background-color: transparent;
        cursor: pointer;
        margin-left: 500px;

    }
    /*노트의 약속합니다의 글씨*/
    #nt_promise {
        width: 100px;
        height: 30px;
        background: url(https://kimjoochan.github.io/academy2musicNtImg/notebookImg/nt_img/promise.png) no-repeat center center;
        background-size: cover;
        float: left;
        margin-left: 500px;
        margin-top: 25px;
        margin-bottom: 50px;
    }
    /*노트 커리큘럼소개*/
    #nt_subject {
        width: 100%;
        height: 627px;
        float: left;
        overflow: hidden;
    }
    #nt_subject .note_wrap {
        position: absolute;
        left: 50%;
        height: auto;
        margin-left: -600px;
    }
    #select_sub {
        width: 100%;
        height: 82%;
        margin-bottom: 30px;
        
        background-color: antiquewhite;

    }
    #subject_menu {
        width: 100%;
        height: 40px;
    }
    #subject_menu > li {
        width: 25%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        float: left;
        background-color: wheat;
    }
    #subject_menu > li > a {
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    .subject_but {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50%;
        z-index: 9;
        margin-top: -15px;
        cursor: pointer;
        color: white;
    }
    .subject_but.left {
        left: 20px;
    }
    .subject_but.right {
        right: 20px;
    }
    div#entrance {
        height: 100%;
        position: relative;
    }
    .subject_mask {
        width: 1200px;
        height: 470px;
        float: left;
        overflow: hidden;

    }
    .nt_subject_wrap {
        height: auto;
    }
    .nt_subject_wrap > li {
        width: 600px;
        height: auto;
        float: left;
    }
    .nt_subject_wrap > li > img {
        width: 100%;
        height: auto;
        float: left;
    }
    /*입시반 광고 반의 크기로 옆으로 띄우기*/
    .nt_subject_wrap.ent {
        width: 500%;
    }
    /*예고입시반 광고 반의 크기로 옆으로 띄우기*/
    .nt_subject_wrap.ent_hi {
        width: 300%;
    }
    /*전문반 광고 반의 크기로 옆으로 띄우기*/
    .nt_subject_wrap.ent_spe {
        width: 400%;
    }
    /*취미반 광고 반의 크기로 옆으로 띄우기*/
    .nt_subject_wrap.ent_hob {
        width: 1200px;
    }

    /*시설소개영역*/
    #nt_failty {
        width: 100%;
        height: 100%;
        float: left;
        position: relative;
    }
    #nt_fai_mask {
        width: 100%;
        height: 100%;
        /*border: 1px solid black;
        box-sizing: border-box;*/
        bottom: 0;
        overflow: hidden;
    }
    #nt_fail_wrap {
        width: 400%;
        height: 100%;
        float: left;
        position: relative;
    }
    #nt_fail_wrap > li {
        width: 25%;
        height: auto;
        float: left;
    }
    #nt_fail_wrap > li > img {
        height: auto;
        width: 100%;
    }
    #nt_fai_buts {
        width: 200px;
        height: 30px;
        position: absolute;
        bottom: 20px;
        left: 50%;
        margin-left: -100px;
        z-index: 9;
      
    }
    #nt_fai_buts > li {
        width: 30px;
        height: 30px;
        margin-right: 15px;
        float: left;
        background-color: blue;
        cursor: pointer;
    }
    #nt_fai_buts > li:last-child {
        margin: 0;
        background: url(https://kimjoochan.github.io/academy2musicNtImg/notebookImg/nt_img/fa_1.jpg) no-repeat center center;
        background-size: cover;
    }
    #nt_fai_buts > li:nth-child(1) {
        background: url(https://kimjoochan.github.io/academy2musicNtImg/notebookImg/nt_img/fa_5.jpg) no-repeat center center;
        background-size: cover;
    }
    #nt_fai_buts > li:nth-child(2) {
        background: url(https://kimjoochan.github.io/academy2musicNtImg/notebookImg/nt_img/fa_2.jpg) no-repeat center center;
        background-size: cover;
    }
    #nt_fai_buts > li:nth-child(3) {
        background: url(https://kimjoochan.github.io/academy2musicNtImg/notebookImg/nt_img/fa_3.jpg) no-repeat center center;
        background-size: cover;
    }
    /*오시는 길*/
    #nt_howcome {
        width: 100%;
        height: 100%;
        float: left;
        position: relative;
    }
    #howcom_wrap {
        float: left;
        width: 100%;
        height: auto;
    }
    #howcom_wrap > img {
        width: 100%;
        height: auto;
        float: left;
    }
    /*footer영역*/
    #nt_foot {
        width: 100%;
        height: 300px;
        float: left;
        background-color: #ccc;
        position: relative;
    }
    #nt_foot > .note_wrap {
        position: absolute;
        left: 50%;
        margin-left: -600px;
    }
    #footer_nav {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -80px;
        overflow: hidden;
        margin-left: -207px;
    }
    #footer_nav > li {
        float: left;
        margin-right: 10px;
    }
    #footer_logo {
        position: absolute;
        top: 30px;
        left: 65px;
        width: 120px;
        height: 80px;
        background: url(https://kimjoochan.github.io/academy2musicNtImg/notebookImg/nt_img/nt_logo.jpg) no-repeat center center;
        background-size: contain;
    }
    .foot_adr {
        position: absolute;
        bottom: 50%;
        left: 50%;
        text-align: center;
        font-style: normal;
    }
    /*노트의 공지사항,뉴스,특강안내*/
    #nt_new {
        width: 1200px;
        height: 355px;
        position: fixed;
        left: 50%;
        margin-left: -600px;
        z-index: 99;
        bottom: 20px;
        display: none;
        background-color: transparent;
    }
    #nt_new > li {
        float: left;
        width: 400px;
        height: 355px;
        position: relative;
        background-color: transparent;
    }
    /*뉴스의 내용칸*/
    .new_sent {
        width: 320px;
        height: 280px;
        position: absolute;
        bottom: 20px;
        left: 30px;
        background-color: rgba(0, 0, 0, 0.7);
    }
    ;
    /*뉴스의 타이틀*/
    .new_sent > .new_title {
        width: 100%;
        color: #ccc;
        text-align: center;
    }
    /*뉴스 안내들어갈 내용*/
    .new_blog {
        width: 295px;
        height: 150px;
        background-color: transparent;
        margin-left: 12.5px;
        margin-top: 40px;
    }
    .new_blog > li {
        line-height: 30px;
        cursor: pointer;
        color: #ccc;
    }
    .on_blog {
        text-decoration: underline;
        transition-duration: 1s;
    }
    /*뉴스의 더보기와 닫기버튼*/
    .ne_bu {
        width: 50px;
        height: 20px;
        border-radius: 10px;
        background-color: transparent;
        color: #ccc;
        position: absolute;
        bottom: 10px;
    }
    .new_more {
        right: 20px;
        cursor: pointer;
    }
    .new_close {
        left: 20px;
        cursor: pointer;
    }
}
