@charset "utf-8";
@media all and (max-width:1220px) and (min-width:760px) {
    #pc_display {
        display: none;
    }
    #nt_display {
        display: none;
    }
    #mb_display {
        display: none;
    }
    /*테블릿 레이아웃 시작*/
    #tab_display {
        display: block;
        width: 100%;
        height: 100%;
        float: left;
        position: relative;
    }
    /*테블릿 헤드*/
    #tab_header {
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        background-color: transparent;
        z-index: 999;
    }
    #tab_logo {
        float: left;
        width: 13.3%;
        height: auto;
        margin-left: 5.8%;
        cursor: pointer;
    }
    #tab_logo > img {
        width: 100%;
        height: auto;
        float: left;
    }
    #tab_menu_hid {
        float: right;
        width: 5.8%;
        height: auto;
        margin-top: 2.5%;
        margin-right: 5.8%;
        cursor: pointer;
    }
    #tab_menu_hid > img {
        width: 100%;
        height: auto;
        float: left;
    }
    /*테블릿 메뉴*/
    #tab_menu {
        width: 15vw;
        height: 210px;
        position: fixed;
        right: 1%;
        background-color: #ccc;
        display: none;
        top: 70px;
    }
    #tab_nav {
        width: 100%;
        height: 210px;
    }
    #tab_nav > li {
        width: 100%;
        height: 30px;
        line-height: 30px;
        text-align: center;
    }
    #tab_nav > li > a {
        display: block;
    }
    /*테블릿 인사말*/
    /*텝에서 ceo경력부분*/
    #bot_tab {
        margin-top: 50px;
        width: 100%;
        height: 650px;
        float: left;
    }
    #bot_block > li {
        width: 50%;
        height: 100%;
        float: left;
        padding: 40px;
        overflow: hidden;
        box-sizing: border-box;
    }
    #bot_block > li > img {
        width: 100%;
        height: auto;
        float: left;
    }
    /*사진이 아닌 설명부분*/
    #name_tab {
        margin-top: 50px;
        font-size: 16px;
        width: 100%;
        text-align: left;
        float: left;
    }
    .car_tab {
        width: 100%;
        height: auto;
        float: left;
        margin-top: 50px;
    }
    .car_tab > li {
        font-size: 14px;
        line-height: 16px;
        text-align: left;
        float: left;
    }
    #tab_chart {
        margin-top: 50px;
        width: 100%;
        height: auto;
        float: left;
    }
    #tab_chart > img {
        width: 100%;
        height: auto;
        float: left;
    }
    /*테블릿 풋터*/
    #tab_footer {
        width: 100%;
        height: 200px;
        float: left;
        background-color: #eaeaea;
        position: relative;
        padding-top: 30px;
        box-sizing: border-box;
    }
    #tab_ico_but {
        width: 16.6%;
        height: 100%;
        margin: 0 auto;
    }
    #tab_ico_but > li {
        float: left;
        width: 28%;
        height: auto;
        margin-right: 8%;
        cursor: pointer;
    }
    #tab_ico_but > li:last-child {
        float: right;
    }
    #tab_ico_but > li > img {
        width: 100%;
        height: auto;
        float: left;
    }
    #tab_foot_logo {
        width: 9.3%;
        height: 51%;
        position: absolute;
        left: 7.8%;
        top: 18%;
        background: url(../tab_img/tab_logo.jpg) no-repeat center center;
        background-size: contain;
    }
    #tab_fot_sen {
        font-style: normal;
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 20px;
    }
}
